/* You can add global styles to this file, and also import other style files */
@import 'scss/reset';
@import 'scss/material-theme';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}
